* { margin: 0; padding: 0; box-sizing: border-box; }
body {background: rgba(178, 193, 204, 0.952); font: 1.8em Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { color:#FFF; background: rgb(156, 172, 13); border: none; padding: 10px;  width: 5%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: rgb(71, 141, 114); }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }